<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @news.link %>
</p>

<p>
  <strong>Party:</strong>
  <%= @news.party %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @news.topic %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
